@use 'reset.scss';
@use 'simple-grid.scss';
@use './colors.scss';

@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

//Typography
$base-font-family: 'Lora', 'Helvetica', sans-serif;
$base-font: 18px;

$font-size-header-1: 2rem;
$font-size-header-2: 1.2rem;
$font-size-header-3: 1rem;

//Spacing
$outer-padding: 5vw;
$space: 25px;

$space-double: calc($space * 2);

$space-one-half: calc($space / 2);


///////////
// Usage //
///////////
// This color function makes it easy for you to call a color by it's functional
// name anywhere you need.
// E.g. to use the `text` color, you type: `color: clr(text);`
//
// How it works:
// This function works in conjunction with the dynamic css custom properties
// declarations below. The item called in the function is prefixed with
// `var(--c-` to call the custom property for that color.
// E.g. `color: clr(text);` will return `color: var(--c-text);`
// Note: (The `--c-` is added via the `@each` loops below)
@function clr($colorChoice) {
    @return var(--c-#{$colorChoice});
  }

//Breakpoints
@mixin for-size($size) {
    @if $size == phone-only {
      @media (max-width: 599px) { @content; }
    } @else if $size == tablet-portrait-up {
      @media (min-width: 600px) { @content; }
    } @else if $size == tablet-landscape-up {
      @media (min-width: 900px) { @content; }
    } @else if $size == desktop-up {
      @media (min-width: 1200px) { @content; }
    } @else if $size == big-desktop-up {
      @media (min-width: 1800px) { @content; }
    }
  }


html {
    font-size: $base-font;
    font-family: $base-font-family;
}

body {
    line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: $space;
    text-transform: uppercase;
}

h1 {
    font-size: $font-size-header-1;
}

h2 {
    font-size: $font-size-header-2;
}

h3 {
    font-size: $font-size-header-3;
}

// Non front page generic styling of main body - apply via additionalClasses in layout
.standard-page {
    padding: $space $outer-padding;
}

.loading {
    display: flex;
    justify-content: center;
}

.logo-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: $space-one-half $outer-padding $space-one-half $outer-padding;

    svg {
        min-width: 200px;
        max-width: 150px;
    }

    ul.main-menu {
        padding-right: 0;
        padding-top: 0;
    }

    &.dark {
        a {
            color: clr(text-inverse);
        }

        background-color: clr(background-black);
    }
}

ul.main-menu {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: $space-one-half $space-one-half $space-one-half $outer-padding;
    li {
        margin-right: $space;
        font-weight: 600;
        font-size: $font-size-header-2;
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}


.page-title {
    padding: 25px $outer-padding 0 $outer-padding;
    display: flex;
    flex-flow: column;
    align-items: center;

    h1 {
        width: 75%;
    }
}

.section--main {
    padding: $space $outer-padding;

    .logo {
        width: 100%;
        display: flex;
        justify-content: start;
        margin-bottom: 1.5rem;
    }

    p {
        line-height: 1.8rem;
    }
}
.background--black {
    background-color: clr(background-black);
    color: clr(text-inverse);
    * {
        color: clr(text-inverse);
    }
}

.section--content {
    p {
        margin-bottom: $space-one-half;
    }
}
.section--fb {
    display: flex;
    flex-wrap: wrap;

    .section--fb-item {
        width: 100%;
        display: flex;
        background-color: clr(background-dark);
        * {
            color: clr(text-inverse);
        }
    }

    &.double {
        .section--fb-item {
            text-decoration: none;

            &:nth-child(2), &:nth-child(3), &:nth-child(5), &:nth-child(6), &:nth-child(8), &:nth-child(9) {
                background-color: clr(background-darker);
            }
            .fb--image, .fb--content {
                width: 100%;
            }
            .fb--content {
                padding: $space;
            }

            @include for-size(tablet-landscape-up) {
                width: 50%;
                .fb--image, .fb--content {
                    width: 50%;
                }
            }
        }
    }
    
    a.section--fb-item:hover {
        text-decoration: underline;
        text-decoration-color: clr(text-inverse);
    }

    .section--fb-item--left, .section--fb-item--right {
        width: 100%;
    }
    .section--fb-item--left {
        padding: $space $space $space $outer-padding;
        display: flex;
        align-items: center;
    }
    .section--fb-item--right {
        padding: $space $outer-padding $space $space;
        display: flex;
        justify-content: center;
    }

    @include for-size(tablet-landscape-up) {
        .section--fb-item--left, .section--fb-item--right {
            width: 50%;
        }
        .section--fb-item--right {
            .fb--image {
                width: 60%;
            }
        }
    }

}

.section--supporters {
    padding: $space $outer-padding;

    h3 {
        text-transform: none;
    }

    .items {
        display: flex;
        flex-wrap: wrap;
    }

    .supporter {
        height: 150px;
        width: 20%;
        margin-right: $space-double;
        display: flex;

        >.supporter--wrapper {
            flex-grow: 1;
            display: flex;
        }

        .gatsby-image-wrapper {
            width: 100%;
            flex-grow: 1;
        }

        a {
            display: grid;
            align-content: center;
            text-align: center;
        }
    }
}

.section--paragraph {
    padding: 0 $outer-padding 0 $outer-padding;
    display: flex;
    flex-flow: column;
    align-items: center;

    p {
        width: 75%;
        margin-bottom: 1.5rem;
    }
}

// Collections display
.miniature-items-search {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $space;
    padding: $space;
    background-color: clr(background-light);
    align-items: center;
    gap: 16px;

    input,
    select,
    label,
    span {
        height: $space-double;
        font-size: 1rem;
    }

    input {
        flex: 1
    }

    input,
    select {
        background-color: white;
        border: 1px solid clr(border);
    }

    label {
        margin-right: $space-one-half;
        display: none;

        @include for-size(tablet-portrait-up) {
            display: inline;
        }
    }
}

.miniature-items {
    display: flex;
    flex-wrap: wrap;
    gap: $space-double;
    justify-content: flex-start;
    @include for-size(tablet-portrait-up) {
        margin-right: -$space-double;
    }

    .miniature-item {
        width: 100%;
        margin-bottom: $space-double;
        text-decoration: none;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        > div {
            width: 100%;
        }
        img {
            width: 100%;
        }
        @include for-size(tablet-portrait-up) {
            width: calc(50% - $space-double);
        }
        @include for-size(tablet-portrait-up) {
            width: calc(33.3% - $space-double);
        }
        @include for-size(desktop-up) {
            width: calc(33.3% - $space-double);
        }
    }
    .miniature-item__actions {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: $space-one-half;
        align-items: flex-end;
        flex: 1;
        padding-top: $space;
    }
    .miniature-item__button {
        border: 1px solid clr(text);
        padding: $space-one-half;
        display: flex;
        text-decoration: none;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        span {
            display: inline-block;
            z-index: 1;
        }
        &:hover {
            text-decoration: underline;
        }
        .icon {
            margin-right: $space-one-half;
            width: 25px;
            display: flex;
            align-items: center;
            svg {
                width: 100%;
            }
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 100%;
            background-color: clr(button-slide);
            opacity: 0.5;
            transition: all 0.3s ease-in-out;
        }
        &:hover::after {
            right:0;
        }
    }
}
.search-card {
    background-color: clr(background-light);
    padding: $space-one-half;
    margin-top: $space;
    .search-card__item-value {
        margin-bottom: $space-one-half;
    }
    .search-card__item-title {
        font-weight: bold;
    }
}

.no-search-results {
    text-align: center;
    .search-text {
        font-size: 1.4rem;
        font-weight: bold;
    }
}

.footer {
    width: 100%;
    padding: $space $outer-padding;
    background-color: clr(background-black);
    color: clr(text-inverse);
    * {
        color: clr(text-inverse);
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .footer--social-media {
        display: flex;
        margin: 0;
        margin-bottom: $space;
        > .sm--item {
            margin-right: $space-double;
        }
    }
    .footer--main {
        display: flex;
        margin: 0;
        margin-bottom: $space;
    }
    .footer--main--links {
        margin: 0 2rem 0 0;
        ul {
            list-style-type: none;
        }
    }
    .footer--contact {
        margin: 0 2rem 0 0;
        ul {
            list-style-type: none;
        }
    }

    .footer--copyright-codes {
        margin: 3rem 2rem 0 0;
    }

    .contact--line {
        white-space: nowrap;
    }
    .footer--copyright {
        display: flex;
        margin:0;
        border-top: 1px solid clr(border);
        padding-top: $space-one-half;
        font-size: 0.8rem;
        flex: 0;
        .footer--copyright-item {
            display: inline-block;
            margin-right: $space;
            &::after {
                content: '|';
                margin-left: $space;
            }
        }

        .footer--copyright-item:last-child {
            flex: 1;
            text-align: end;
            margin-right: 0;
            &::after {
                content: '';
                margin-left: 0;
            }
        }
    }
}

/* Compare miniature collection */

.miniature-collection--compare {
    position: fixed;
    bottom: 32px;
    right: 32px;
    background: white;
    padding: 16px;
    border: 1px solid var(--c-text);
    z-index: 10;
    min-width: 40%;

    h3 {
        margin: 0;
    }

    .miniature-item__button {
        padding: 8px 10px;
        margin-bottom: 4px;
    }
}

.collections-compare--section {
    margin: 64px;

    table {
        table-layout: fixed;
        th {
            text-align: start;
            padding: 16px;
        }

        td {
            padding: 4px 16px;
            width: 10%;
        }

        tr:nth-child(even) {
            background-color: var(--c-background-light);
        }
    }

    a {
        margin-right: 16px;
    }
}

/* Object Miniature */

.object {
    h2 {
        margin: 1.2rem 0;
    }

    h3 {
        margin: 1rem 0;
    }

    margin-bottom: 1.5rem;
}

.object--hero-wrapper {
    background-color: var(--c-background-black);

    & * {
        color: var(--c-text-inverse);
    }

    display: flex;
    flex-flow: column;
    align-items: center;

    .object--hero-content {
        width: 75%;
        padding: 16px 0px;

        .object--hero-info {
            display: flex;
            flex-wrap: wrap;

            img {
                margin-right: 25px;
            }

            .object--hero-info-table {
                height: fit-content;
                align-self: center;

                @include for-size(tablet-portrait-up) {
                    display: grid;
                    grid-template-columns: 1fr 2fr;
                    max-width: 75%;
                    column-gap: 16px;
                }
            }
        }

        img {
            max-height: 200px;
            width: auto;
            height: auto;
        }
    }
}

.object--actions-wrapper {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.object--actions {
    width: 75%;

    display: flex;
    flex-direction: column;
    row-gap: 16px;

    @include for-size(tablet-portrait-up) {
        flex-direction: row;
    }

    a{
        display: flex;
        align-items: center;
    }

    h2 {
        margin: 0;
    }
}

.object--description-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;

    .object--description-content {

        @include for-size(tablet-portrait-up) {        
            width: 75%;
            border-left: 1px solid var(--c-border);
            border-right: 1px solid var(--c-border);
        }

        padding: 0px 1rem;
        margin-top: 1rem;

        .object--description-content--content {
            div {
                margin-bottom: 1rem;
            }

            margin-bottom: 1rem;
        }

        h2#description {
            margin-top: 0;
        }

        table {
            width: 100%;

            td {
                padding: 4px;
            }

            td:nth-child(1) {
                width: 20vw;
            }

            tr:nth-child(even) {
                background-color: var(--c-background-light);
            }
        }

        .object--description-references {
            td:nth-child(1) {
                width: 33vw;
            }
        }
    }
}

.object--micrographs {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    align-content: center;
    flex-direction: column;
    @include for-size(tablet-portrait-up) {
        align-content: center;
        flex-direction: row;
    }

    &>div {
        width: 15rem;
        max-width: 100%;
    }

    img {
        width: 15rem;
        height: 15rem;
        max-width: 100%;
        object-fit: cover;
    }
}

.object--images {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    align-content: center;
    flex-direction: column;
    @include for-size(tablet-portrait-up) {
        align-content: center;
        flex-direction: row;
    }

    &>div {
        width: 15rem;
        max-width: 100%;
    }

    img {
        width: 15rem;
        max-width: 100%;
        object-fit: cover;
    }
}

/* Blog list */
.blog-list {
    padding: 25px 5%;

    h1 {
        margin: 2rem 0;
    }
    
    ul {
        list-style: none;
    }

    li {
        border-bottom: 1px solid var(--c-border);
        padding-bottom: 10px;
        margin-bottom: 50px;
    }

    @include for-size(tablet-portrait-up) {
        padding: 25px 20%;
    }
}

/* Blog page */
.blog {
    padding: 0 5%;

    h1 {
        margin: 3rem 0;
    }

    h2,h3,h4 {
        margin: 2rem 0;
    }

    p {
        margin: 2rem 0 0 0;

        img {
            width: 100%
        }
    }

    p:last-child {
        margin: 2rem 0;
    }

    @include for-size(tablet-portrait-up) {
        padding: 0 20%;
    }
}